# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Environment variables
.env

# Build outputs
output/

# Runtime data
/data/


# OS
Thumbs.db
.DS_Store

