GIT_HASH=d93183c5
NODE_ENV=development
IDENTITY_SECRET=<secret>
# Optional: Healthchecks.io ping URL; server pings this every minute while running
# HEALTHCHECK_PING_URL=https://hc-ping.com/6c2f9066-e13f-40c3-b8fd-e208c026bce4